.sidebar {
  padding: 28px 32px;
  width: 18%;

  .logo {
    font-size: 24px;
    line-height: 32px;
    color: var(--gray-700);
    font-weight: 500;
  }

  .copy {
    color: var(--gray-900);
  }
}