


.video_item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);

  &.small {
    .information {
      .name {
        margin: 12px 0;
        font-size: 16px;
        color: var(--gray-700)
      }
    }
  }

  .button_1 {
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 10;
  }
  .button_2 {
    position: absolute;
    bottom: 12px;
    right: 44px;
    z-index: 10;
  }
  .wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    .thumbnail {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 1;
      transition: 0.6s linear;
      z-index: 100;
      &:hover {
        opacity: 0;
        z-index: 1;
      }
      time {
        border-radius: 5px;
        position: absolute;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:  12px;
        line-height: 16px;
        width: 80px;
        height: 24px;
        bottom: 5px;
        right: 5px;
        background-color: #0000007F;
        &.bottom {
          top: auto;
          bottom: 12px;
          right: 12px;
        }
      }

    }
    .video {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 1;
    }
  }


  .information {
    padding: 16px 0;
    position: relative;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      .user_avatar {
        position: absolute;
        top: 0;
        left: 0;
      }
      .name {
        margin: 0 0 15px 65px;
        font-size: 18px;
        line-height: 22px;
        color: var(--gray-700);
        padding-top: 4px;
        font-weight: 500;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

    }


    .author {
      padding-left: 5px;
      color: var(--gray-500);
      font-weight: 500;
      font-size: 14px;

    }
  }

}

.number_info {
  padding-left: 5px;
  display: flex;
  align-items: center;

  div {
    font-size:  12px ;
    line-height:  16px ;
  }

  .views {
    margin: 5px 0 0 0;
    white-space: nowrap;
    font-size: 12px;
  }

  .date {
    white-space: nowrap;
    font-size: 12px;
    padding-left: 20px;
    margin: 5px 0 0 0;
  }


}

.large_item {
  .information {
    z-index: 10;
    position: relative;
    max-width: 320px;
    height: 282px;

    .name {
      display: block;
      font-size:  24px ;
      line-height:  28px ;
      height: 120px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .author {
      color: var(--white);
      margin-top: 20px;
      font-size:  18px ;
      line-height:  12px ;
    }

    .number_info {
      margin-top: 4px;
      div {
        color: var(--white);
        font-size: 14px;
      }
    }

  }
}










