.title {
  display: flex;
  align-items: center;
  color: var(--white);

  h2 {
    font-size: 18px;
    line-height: 28px;
    margin: 16px;
  }

  .show-more {
    color: var(--gray-500);
    cursor: pointer;
  }

}