.file {
  margin: auto;

  > h1 {
    color: var(--white);
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

   .label {
    display: block;

     .title {
       color: var(--white);
       bottom: 5px;
     }

     .input_upload {
      display: block;
      color: var(--gray-500);
      cursor: pointer;
      top: 5px;
      bottom: 5px;
    }
  }

}