.button {
  display: inline-flex;
  margin: 8px 0 8px 24px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 36px;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: var(--bg-color);
  border: none;

}