.wrapper {
  background-color: var(--gray-200);
  border-radius: 12px;

  .title {
    padding-left: 14px;
    padding-top: 12px;
    font-size: 16px;
  }

  .bottomForm {
    position: relative;
    width: 960px;
    padding-left: 12px;
  }

  .button {
    position: absolute;
    width: 60px;
    height: 32px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--white);
    border: 1px solid var(--gray-400);
  }

  .no__comments {
    padding-left: 12px;
    padding-bottom: 60px;
  }
  .comment__item__wrapper {
    padding: 10px 12px;

    .commentItem {
      padding: 10px 0;
    }

  }

}