.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 0 40px;

}

.video_item {
  max-width: 1200px;
}
.video_detail {
  max-width: 1200px;
  max-height: 280px;
}

.video_comments {
  max-width: 1200px;
  height: auto;
}