.wrapper {
  position: relative;

  .video {
    width: 1200px;
    height: auto;

  }

  .controls {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 8px;
    width: calc(100% - 40px);
    transition: all;
    transition-duration: 1000ms;


    &.hide {
      bottom: 0;
      opacity: 0;
    }

    &:hover {
      bottom: 20px;
      opacity: 1;
    }

    button  {
      font-size: 26px;
      line-height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      background-color: transparent;
      border: none;
    }

    .timeControls {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);

       p:nth-child(2) {
        margin: 8px 0;

      }
    }

    .progressBarWrapper {
      position: relative;
      height: 10px;
      width: 75%;
      border-radius: 5px;

    }
    progress {
      display: block;
      position: absolute;
      height: 10px;
      width: 100%;
      &::-webkit-progress-bar {
        background: var(--gray-100);
      }
      &::-webkit-progress-value {
        background: var(--primary-hover);
      }
      &::-moz-progress-bar {
        background: var(--gray-100);
      }
    }


  }

}