.dislikeButton {
  margin: 0 20px;
  background-color: var(--white);;
  width: 36px;
  height: 36px;
  position: relative;
  svg{
    position: absolute;
    transition: 0.5s linear;
    &:hover * {
      fill: var(--primary)
    }
  }
  border: none;
}

.likeButton {
  margin: 0 20px;
  background-color: var(--white);;
  width: 36px;
  height: 36px;
  position: relative;
  svg{
    position: absolute;
    transition: 0.5s linear;
    &:hover * {
      fill: var(--youtube-blue)
    }
  }
  border: none;
}

.activeLike {
  svg * {
    fill: var(--youtube-blue)
  }
}

.activeDislike {
  svg * {
    fill: var(--primary)
  }
}

.disabled {
  svg * {
    fill: #6B6B7B
  }
}